version: "3.9"

services:
  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - nearbeer-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGO_URL: mongodb://mongo:27017/nearbeer
    networks:
      - nearbeer-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    networks:
      - nearbeer-net

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    command: >
      certonly --webroot
      --webroot-path=/var/www/certbot
      --email admin@javatreetech.com
      --agree-tos
      --no-eff-email
      -d javatreetech.com
      -d www.javatreetech.com

volumes:
  mongo-data:
  certbot-etc:
  certbot-var:

networks:
  nearbeer-net:
